conn.php
conn_test.php
ldap.php
jwt.php
credenziali_mail.php
copia_file_base.sh

login_lizmap.php

uploads/*

py_scripts/credenziali.py

py_scripts/log/*.log


py_scripts/driver_eko/*.xlsx


py_scripts/__pycache__/*

backoffice/utenze_file/*.txt