html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*body {
  /*font-family: 'Roboto', Arial, sans-serif;
  font-family: 'Open Sans', Arial, sans-serif;
}*/

iframe {
  width: 80% !important; /* o una larghezza fissa */
  max-width: 80% !important;
  display: block !important;
}

.row-small {
  display: flex;
  justify-content: center;
}

.tag-small{
  width: 80% !important; /* o una larghezza fissa */
  max-width: 80% !important;
}

.form-row {
  display: flex;
  align-items: center;     /* allinea verticalmente */
  gap: 10px;               /* spazio tra label e input */
  /*margin-bottom: 10px;*/     /* spaziatura tra righe */
}

.row {
  margin-bottom: 1%;
}

/* opzionale: larghezza fissa per allineare tutte le label */
/*label {
  min-width: 100px;        
}*/

.form-check-label{
  min-width: 0px; 
}

#comuni {
  display: flex !important;     /* forzo flex se qualche regola lo impedisce */
  gap: 12px;
  flex-wrap: wrap;              /* evita overflow se schermo stretto */
  align-items: flex-start;
}

.comuni-row {
  display: flex;                /* mantiene label+checkbox+input in riga */
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;               /* NON si allarghi: usa la larghezza del contenuto */
  width: auto !important;   /* separazione righe */
}

.comuni-row label {
    margin: 0;
}

.comuni-row .percent-input {
    width: 70px;
}

.banner {
    top: 0;
    background: url(./img/bg-navbar-rid.png);
    z-index: 1030;
    padding-left: 0;
    padding-right: 0;
}


.banner div {
    background: url(./img/lanterna-rid.png) right no-repeat;
    z-index: 1000;
    font-size: 36px;
    color: #fff;
    /*padding-top: 10px;*/
}


.banner, .banner div {
    position: fixed;
    height: 77px;
    width: 100%;
}

/*.container {
    padding-top: 117px;
}*/

.pc{
    margin: auto;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    background: #006426;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1030;
    color: #fff;
}


.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light {
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}


.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
    font-style: italic;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0255, 255, 255, 0.7);
}

.navbar-sticky-top {
    top: 77px;
}

.navbar-inverse {
    /*background-color: #222;*/
    border-color: #080808;
}

/*.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.8);
}*/

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.8);
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}


/*.dropdown-menu.show {
  min-width: 100%;
  width: max-content;
}*/


.disabled-link {
  pointer-events: none;
}



 i {
    /*display: inline-block;*/
    margin-right: 0.2em;
    margin-left: 0.2em;
  }


  @media screen {
    div.printFooter {
      display: none;
    }
    div.printHeader {
        display: none;
    }
  }

  
/* Smartphones ----------- */
@media only screen and (max-width: 520px) {
    #sit_btn1 { display: none; }
  }

  @media only screen and (max-width: 520px) {
    #delete_btn1 { display: none; }
  }



/* PRINT */
  @media print
   {
   	
    /*Il print footer */
    div.printFooter {
        position:absolute;
        bottom:0;
        left: 0;
        right: 0;
    }

    div.printHeader {
        position: fixed;
        top: 0;
      }

   	/* commentata riga 191 del file bootstrap.css per consentire la stampa dei colori*/ 
   	    /*.fa{ 
        -webkit-print-color-adjust: exact;
		}

	  .fas{ 
    -webkit-print-color-adjust: exact;
		}
		
	  p.bodyText {
		  font-family:georgia, times, serif;
		  -webkit-print-color-adjust: exact;
		  color-adjust: exact;
	  }*/
	  
	  .rows-print-as-pages .row {
		page-break-before: auto;
	  }
	  
	  .btn {
    		display: none;
  		}
	  
	  
	   table,
		table tr td,
		table tr th {
			page-break-inside: avoid;
            width: 50%;
            float: left;
            word-break: break-word;
            padding-left: 10px;
		}

		/*.collapse {
   	display: block !important;
   	height: auto !important;
	}*/
	

	
	#break {
		 page-break-before: always;
	}
	
	.fa-inverse {
        color: #fff !important;
    }


    .isDisabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
      .isDisabled > a {
        color: currentColor;
        display: inline-block;  /* For IE11/ MS Edge bug */
        pointer-events: none;
        text-decoration: none;
      }


	.noprint{
		display:none
	  }
	  
	  
   }


  
/* ============ Multidrop ============ */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	

#modal-content {
  max-height: none;
}




/*------------------ BOTTONI PERSONALIZZATI  -----------------------------*/


.btn-rsu {
  background-color: #6c757d !important; /* grigio */
  color: white;
}
.btn-carta {
  background-color: #1053a1 !important;/* blu */
  color: white;
}
.btn-multi {
  background-color: #eeab00 !important;/* giallo */
  color: white;
;
}
.btn-org {
  background-color: #883001 !important; /* rosso */
  color: white;
}

/* opzionale: effetto hover migliorabile */
.btn-rsu:hover, .btn-carta:hover, .btn-multi:hover, .btn-org:hover {
  opacity: 0.85;
  color: white !important;
  /*background-color: inherit !important;*/
}





.toast {
    opacity: 0;
    transform: translateX(20px);
    transition: all .4s ease-in-out;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

